<table class="table">
  </thead>
  <tbody>
  <% for (const item of items) { %>
    <tr>
      <td style="vertical-align: middle;"><%= item.year %></td>
      <td>
      <% if (item.open) { %>
        {{< iconify academicons open-access-square >}}
      <% } %>
      <% if (item.rr) { %>
        {{< osi rr >}}
      <% } %>
      <b><%- item.title %></b><br>
      <% if (item.author) { %>
        {{< iconify fa6-solid user size="footnotesize" >}} <%- item.author %><br>
      <% } %>
      <% if (item.institution) { %>
        {{< iconify fa6-solid university size="footnotesize" >}} <%- item.institution %><br>
      <% } %>
      <% if (item.journal) { %>
        {{< iconify fa6-solid book-open size="footnotesize" >}} <em><%- item.journal %></em> <%- item.info %><br>
      <% } %>
      <% if (item.version) { %>
        <em><%- item.version %></em><br>
      <% } %>
      <% if (item.location) { %>
        <%- item.location %><br>
      <% } %>
      <% if (item.doi) { %>
        <a class="osi" href="https://www.doi.org/<%- item.doi %>"><img class="doi" src="https://img.shields.io/badge/doi-<%- item.doi %>-850000.svg"></a><br>
      <% } %>
      <% if (item.manuscript) { %>
        <a class="osi" href="<%- item.manuscript %>" target="_blank">{{< osi manuscript >}}</a>
      <% } %>
      <% if (item.submitted) { %>
        <a class="osi" href="<%- item.submitted %>" target="_blank">{{< osi submitted >}}</a>
      <% } %>
      <% if (item.accepted) { %>
        <a class="osi" href="<%- item.accepted %>" target="_blank">{{< osi accepted >}}</a>
      <% } %>
      <% if (item.published) { %>
        <a class="osi" href="<%- item.published %>" target="_blank">{{< osi published >}}</a>
      <% } %>
      <% if (item.registration) { %>
        <a class="osi" href="<%- item.registration %>" target="_blank">{{< osi prereg >}}</a>
      <% } %>
      <% if (item.url) { %>
        <a class="osi" href="<%- item.url %>" target="_blank">{{< iconify fa6-solid up-right-from-square >}}</a>
      <% } %>
      <% if (item.download) { %>
        <a class="osi" href="<%- item.download %>" target="_blank">{{< iconify fa6-solid cloud-arrow-down >}}</a>
      <% } %>
      <% if (item.github) { %>
        <a class="osi" href="<%- item.github %>" target="_blank">{{< iconify fa6-brands square-github >}}</a>
      <% } %>
      <% if (item.video) { %>
        <a class="osi" href="<%- item.video %>" target="_blank">{{< iconify fa6-solid video >}}</a>
      <% } %>
      <% if (item.abstract) { %>
        <a class="osi" href="<%- item.abstract %>" target="_blank">{{< iconify fa6-solid file-lines >}}</a>
      <% } %>
      <% if (item.compendium) { %>
        <a class="osi" href="<%- item.compendium %>" target="_blank">{{< osi compendium >}}</a>
      <% } %>
      </td>
    </tr>
  <% } %>
  </tbody>
</table>